body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  max-width: 1600px;
  width: 100%;
  display: table;
}

table td, table th {
  padding: 15px;
}

table th {
  background-color: #257dd4;
  border: 1px solid #257dd4;
}

table td {
  border: 1px solid #a9a9a9;
}

table tr:nth-child(even) td {
  background-color: #e7e8e8;
}

table tr:nth-child(odd) td {
  background-color: #cdcfd2;
}

table tr th:hover, table tr td:hover {
  cursor: pointer;
  background-color: #afda5f;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

table tbody th {
  display: none;
}

@media (max-width: 420px) {
  thead, tbody, tr, td {
    display: block;
    text-align: center;
  }
  th {
    display: none;
  }
  tbody tr th {
    display: block;
  }
  tbody tr th:before {
    content: attr(headers);
  }
}
