$table-header: #257dd4;
$table-odd: #cdcfd2;
$table-even: #e7e8e8;
$table-border: #a9a9a9;
$table-hover: #afda5f;

body{
	font-family: Arial, Helvetica, sans-serif;
}

table{
	border-collapse: collapse;
	max-width: 1600px;
	width: 100%;
	display: table;

	td, th{
		padding: 15px;
	}
	
	th{
		background-color: $table-header;
		border: 1px solid $table-header;
	}
	
	td{
		border: 1px solid $table-border;

		
	}

	tr{
		&:nth-child(even) td {
			background-color: $table-even;
		}
		
		&:nth-child(odd) td {
			background-color: $table-odd;
		}	

		th:hover, td:hover {
			cursor: pointer;
			background-color: $table-hover;
			transition: background-color 0.3s;
		}
	}

	tbody{
		th{
			display: none;
		}
	}
	
}

@media (max-width: 420px) {
	thead, tbody, tr, td{
		display: block;
		text-align: center;
	}
	
	th{
		display: none;
	}
	
	tbody{
		tr{
			th{
			display: block;

			&:before{
				content: attr(headers);
				}
			}
		}
	}
}
